<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.InvestmentJournalMapper">

    <resultMap id="journalResultMap" type="org.scoula.domain.journal.vo.InvestmentJournalVO">
        <id property="id" column="id"/>
        <result property="journalDate" column="journal_date"/>
        <result property="emotion" column="emotion"/>
        <result property="reason" column="reason"/>
        <result property="mistake" column="mistake"/>
        <result property="createdAt" column="created_at"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <insert id="insertJournal">
        INSERT INTO investment_journal (journal_date, emotion, reason, mistake, user_id)
        VALUES (#{journalDate}, #{emotion}, #{reason}, #{mistake},#{userId})
    </insert>

    <select id="findById" resultMap="journalResultMap">
        SELECT * FROM investment_journal WHERE id = #{id}
    </select>

    <select id="findByUserId" resultMap="journalResultMap">
        SELECT * FROM investment_journal WHERE user_id = #{userId} ORDER BY journal_date DESC
    </select>

    <update id="updateJournal" >
        UPDATE investment_journal
        SET emotion = #{emotion}, reason = #{reason}, mistake = #{mistake}, journal_date = #{journalDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteJournal" >
        DELETE FROM investment_journal WHERE id = #{id}
    </delete>


</mapper>

