<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <mappers>
        <mapper resource="org/scoula/mapper/journal/InvestmentJournalMapper.xml"/>
        <mapper resource="org/scoula/mapper/auth/authMapper.xml"/>
        <mapper resource="org/scoula/mapper/auth/UserMapper.xml"/>
        <mapper resource="org/scoula/mapper/feedback/JournalFeedbackMapper.xml"/>
        <mapper resource="org/scoula/mapper/learning/LearningMapper.xml"/>
        <mapper resource="org/scoula/mapper/mocktrading/UserAccountMapper.xml"/>
        <mapper resource="org/scoula/mapper/mocktrading/HoldingMapper.xml"/>
        <mapper resource="org/scoula/mapper/mocktrading/TranscationMapper.xml"/>
        <mapper resource="org/scoula/mapper/trading/TradingMapper.xml"/>
    </mappers>

</configuration>

