<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.mapper.ranking.AssetHistoryMapper">

    <insert id="insertAssetHistory" parameterType="map">
        INSERT INTO asset_history (
            account_id, record_date, total_asset_value, cash_balance,
            stock_value, daily_profit_loss, cumulative_profit_loss, profit_rate
        ) VALUES (
                     #{accountId}, #{baseDate}, #{totalAssetValue}, #{cashBalance},
                     #{stockValue}, #{profitLoss}, #{realizedProfitLoss}, #{profitRate}
                 )
    </insert>

</mapper>