<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.LearningContentMapper">

    <select id="selectByRiskType" parameterType="string" resultType="org.scoula.domain.learning.dto.ContentDto">
        SELECT
            risk_id AS id,
            risk_type,
            title,
            body AS content,
            label
        FROM group_info
        WHERE risk_type = #{riskType}
    </select>

</mapper>
